[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
black = "==19.10b0"
django-stubs = {editable = true,git = "https://github.com/mkurnikov/django-stubs"}

[packages]
django = "*"
djangorestframework = "*"
django-stubs = {editable = true,git = "https://github.com/mkurnikov/django-stubs"}
pytest-django = "*"

[requires]
python_version = "3.8"
